# Ignore everything in the Data folder
Data/

# Ignore everything in the Logs folder
logs/

# Ignore all .weights files
*.weights

# Ignore all .model files
*.model

# Ignore all __pycache__ folders
__pycache__/
**/__pycache__/
